div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    padding-right: 25%;
    padding-left: 25%;
    background-color:#FFEEEF;
    padding-bottom: 5%;
}

h1 {
    font-family: "Suez One";
    font-size: 3.5vw;
    margin: 0;
}

p {
    font-family: "Tiro Gurmukhi";
    font-size: 1.1vw;
    margin: 0;
}

.italic-text {
    font-style: italic;
    font-weight: 400i;
}

.suezOneFont {
    font-family: "Suez One";
}

.tiroFont {
    font-family: "Tiro Gurmukhi";
}

.underlinedItalicFont {
    font-family: "Tiro Gurmukhi";
    font-style: italic;
    font-weight: 400i;
    border-bottom: 1px solid black;
    padding-right: 1vw;
    padding-left: 1vw;
}

.verticalLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    gap: 0.5vw;
}

.leftAlignedVertical {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: self-start;
    gap: 0.5vw;
    padding-top: 3%;
    padding-bottom: 3%;
}

.horizontalLayout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-start;
    gap: 2vw;
}

.container {
    position: relative; /* The container is positioned relative to its normal flow */
    display: inline-block; /* Helps wrap the container around the image dimensions */
    width: 70%
}

.container img {
    display: block; /* Removes extra space issues */
    width: 100%; /* Ensures the image fills the container */
    height: auto;
}

.verticalTextOverlay {
    width: 80%;
    position: absolute; /* The text is positioned relative to its parent container (.container) */
    top: 50%; /* Moves the top edge to the vertical midpoint of the container */
    left: 50%; /* Moves the left edge to the horizontal midpoint of the container */
    text-align: left;
    transform: translate(-50%, -50%); /* Centers the text block itself precisely */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: self-start;
    gap: 1vw;
}

/*Button Area*/
.itchButton {
    display: flex;
    width: 9.5vw;
    height: 2vw;
    background-image: url("../Resources/itchButton.png");
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.downloadButton {
    display: flex;
    width: 14vw;
    height: 2vw;
    background-image: url("../Resources/DownloadResume.png");
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.aboutButton {
    display: flex;
    width: 10vw;
    height: 4vw;
    background-image: url("../Resources/old/About.png");
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.aboutButton:hover {
    background-image: url("../Resources/old/AboutUnderlined.png");
}

.resumeButton {
    display: flex;
    width: 10vw;
    height: 4vw;
    background-image: url("../Resources/old/Resume.png");
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.resumeButton:hover {
    background-image: url("../Resources/old/ResumeUnderlined.png");
}

.projectsButton {
    display: flex;
    width: 10vw;
    height: 4vw;
    background-image: url("../Resources/old/Projects.png");
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.projectsButton:hover {
    background-image: url("../Resources/old/ProjectsUnderlined.png");
}

.contactButton {
    display: flex;
    width: 10vw;
    height: 4vw;
    background-image: url("../Resources/old/Contact.png");
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.contactButton:hover {
    background-image: url("../Resources/old/ContactUnderlined.png");
}