div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    padding-right: 10%;
    padding-left: 10%;
    background-color:#FFEEEF;
    padding-bottom: 5%;
}

h1 {
    font-family: "Suez One";
    font-size: 80%;
    margin: 0;
    line-height: 1.2;
}

p {
    font-family: "Tiro Gurmukhi";
    font-size: 40%;
    margin: 0;
    line-height: 1.2;
}

span {
    display: inline-block;
    justify-content: flex-start;
    line-height: 1.3;
    width: 100%;
    overflow-x: hidden;
}

.italic-text {
    font-style: italic;
    font-weight: 400i;
    line-height: 1.2;
}

.suezOneFont {
    font-family: "Suez One";
    display: inline;
}

.tiroFont {
    font-family: "Tiro Gurmukhi";
}

.underlinedItalicFont {
    font-family: "Tiro Gurmukhi";
    font-style: italic;
    font-weight: 400i;
    border-bottom: 1px solid black;
    font-size: 40%;
    padding-right: 1vw;
    padding-left: 1vw;
    line-height: 1.2;
}

.verticalLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    font-size: 20px;
    gap: 0.5vw;
}

.leftAlignedVertical {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: self-start;
    gap: 0.5vw;
    font-size: 20px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.horizontalLayout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-start;
    font-size: 20px;
    gap: 2vw;
}

.container {
    position: relative; /* The container is positioned relative to its normal flow */
    display: inline-block; /* Helps wrap the container around the image dimensions */
    width: 70%
}

.container img {
    display: block; /* Removes extra space issues */
    width: 100%; /* Ensures the image fills the container */
    height: auto;
}

.verticalTextOverlay {
    width: 80%;
    position: absolute; /* The text is positioned relative to its parent container (.container) */
    top: 50%; /* Moves the top edge to the vertical midpoint of the container */
    left: 50%; /* Moves the left edge to the horizontal midpoint of the container */
    text-align: left;
    transform: translate(-50%, -50%); /* Centers the text block itself precisely */
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: left;
    align-items: self-start;
    gap: 1vw;
}

/*Button Area*/
.itchButton {
    display: flex;
    width: 12vw;
    height: 2.5vw;
    background-image: url("Resources/itchButton.png");
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.downloadButton {
    display: flex;
    width: 22vw;
    height: 3vw;
    background-image: url("Resources/DownloadResume.png");
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.aboutButton {
    display: flex;
    width: 13vw;
    height: 5vw;
    background-image: url("Resources/old/About.png");
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.aboutButton:hover {
    background-image: url("Resources/old/AboutUnderlined.png");
}

.resumeButton {
    display: flex;
    width: 13vw;
    height: 5vw;
    background-image: url("Resources/old/Resume.png");
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.resumeButton:hover {
    background-image: url("Resources/old/ResumeUnderlined.png");
}

.projectsButton {
    display: flex;
    width: 13vw;
    height: 5vw;
    background-image: url("Resources/old/Projects.png");
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.projectsButton:hover {
    background-image: url("Resources/old/ProjectsUnderlined.png");
}

.contactButton {
    display: flex;
    width: 13vw;
    height: 5vw;
    background-image: url("Resources/old/Contact.png");
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.contactButton:hover {
    background-image: url("Resources/old/ContactUnderlined.png");
}

@media screen and (min-width: 768px) {
    body {
        padding: 0;
        margin: 0;
        height: 100%;
        padding-right: 20%;
        padding-left: 20%;
        background-color:#FFEEEF;
        padding-bottom: 5%;
    }

    h1 {
        font-family: "Suez One";
        font-size: 80%;
        margin: 0;
        line-height: 1.2;
    }

    p {
        font-family: "Tiro Gurmukhi";
        font-size: 40%;
        margin: 0;
        line-height: 1.2;
    }

    span {
        display: inline;
        justify-content: flex-start;
        line-height: 1.3;
        width: 100%;
        overflow-x: hidden;
    }

    .underlinedItalicFont {
        font-family: "Tiro Gurmukhi";
        font-style: italic;
        font-weight: 400i;
        border-bottom: 1px solid black;
        font-size: 50%;
        padding-right: 1vw;
        padding-left: 1vw;
        line-height: 1.2;
    }

    .verticalTextOverlay {
        width: 80%;
        position: absolute; /* The text is positioned relative to its parent container (.container) */
        top: 50%; /* Moves the top edge to the vertical midpoint of the container */
        left: 50%; /* Moves the left edge to the horizontal midpoint of the container */
        text-align: left;
        transform: translate(-50%, -50%); /* Centers the text block itself precisely */
        display: flex;
        flex-direction: column;
        font-size: 42px;
        justify-content: left;
        align-items: self-start;
        gap: 1vw;
    }

    .verticalLayout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2%;
        font-size: 70px;
        gap: 0.5vw;
    }

    .horizontalLayout {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: self-start;
        font-size: 70px;
        gap: 2vw;
    }

    .leftAlignedVertical {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: self-start;
        gap: 0.5vw;
        font-size: 60px;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    /*Button Area*/
    .itchButton {
        display: flex;
        width: 9.5vw;
        height: 2vw;
        background-image: url("Resources/itchButton.png");
        background-position: center;
        background-size: 100% 100%;
        cursor: pointer;
    }

    .downloadButton {
        display: flex;
        width: 14vw;
        height: 2vw;
        background-image: url("Resources/DownloadResume.png");
        background-position: center;
        background-size: 100% 100%;
        cursor: pointer;
    }

    .aboutButton {
        display: flex;
        width: 10vw;
        height: 4vw;
        background-image: url("Resources/old/About.png");
        background-position: center;
        background-size: 100% 100%;
        cursor: pointer;
    }

    .aboutButton:hover {
        background-image: url("Resources/old/AboutUnderlined.png");
    }

    .resumeButton {
        display: flex;
        width: 10vw;
        height: 4vw;
        background-image: url("Resources/old/Resume.png");
        background-position: center;
        background-size: 100% 100%;
        cursor: pointer;
    }

    .resumeButton:hover {
        background-image: url("Resources/old/ResumeUnderlined.png");
    }

    .projectsButton {
        display: flex;
        width: 10vw;
        height: 4vw;
        background-image: url("Resources/old/Projects.png");
        background-position: center;
        background-size: 100% 100%;
        cursor: pointer;
    }

    .projectsButton:hover {
        background-image: url("Resources/old/ProjectsUnderlined.png");
    }

    .contactButton {
        display: flex;
        width: 10vw;
        height: 4vw;
        background-image: url("Resources/old/Contact.png");
        background-position: center;
        background-size: 100% 100%;
        cursor: pointer;
    }

    .contactButton:hover {
        background-image: url("Resources/old/ContactUnderlined.png");
    }
}